@model BabySit.Database_Access.Babysitter
@{
    ViewData["Title"] = "Bảo mẫu";
}
<link rel="stylesheet" href="~/css/star-rating-svg.css" />
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.star-rating-svg.min.js"></script>
<script src="~/js/jquery.star-rating-svg.js"></script>
<script src="~/js/jquery.star-rating-svg_1.js"></script>

<section class="page-content" style="padding-top: 6em;">

    <div class="container">

        @foreach (var item in Model.users)
        {
            <div class="card babysitter row col-md-12" style="width: 100%; margin: 0;">
                @*Babysitter card*@
                <div class="no-gutters row">

                    <div class="col-lg-3">
                        <img style="padding: 20px; height:200px; width:200px;" data-holder-rendered="true" class="card-img rounded-circle" src="~/images/@item.Avatar">
                    </div>
                    <div class="col-lg-7">
                        <div class="card-body">
                            <div class="info-1 row">
                                <h3 class="card-title col-md-12">@Html.DisplayFor(model => item.Name)</h3>
                                <p class="col-md-6">@Html.DisplayFor(model => item.Province.ProvinceName)</p>
                                @{ var age = DateTime.UtcNow.Year - Int32.Parse(item.BirthOfDate.Value.ToString("yyyy"));
                                    <p class="col-md-6">@Html.DisplayFor(model => age) tuổi</p> }
                                @{ var gender = item.Gender.Value ? "Nam" : "Nữ";
                                    <p class="col-md-6">@Html.DisplayFor(model => gender)</p> }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        @*<form asp-controller="Home" asp-action="Favorite" method="get" style=" margin-top: 20px; float: right; margin-right: 10px;">
                            <button type="button" class="btn btn-default btn-sm">
                                <i class="fas fa-heart"></i>
                            </button>
                        </form>*@
                        @using (Html.BeginForm("AddFavorite", "Home", FormMethod.Post))
                        {
                            <input hidden value="@item.UserId" name="babysitterID" />
                            <button type="submit" class="btn btn-default btn-sm" style=" margin-top: 20px; float: right; margin-right: 10px; color: lightpink;">
                                <i class="fas fa-heart"></i>
                            </button>

                        }
                    </div>
                </div>
            </div>

            <br />

            <div class="introAndContact row">
                @*Intro*@
                <div class="intro col-md-8">
                    <h3>Giới thiệu</h3>
                    <p>@Html.DisplayFor(model => item.Description)</p>
                </div>


                @*Contract*@
            <div class="contract col-md-4 card" style="margin:auto;">
                <h3>Mức lương yêu cầu</h3>
                <strong>@Html.DisplayFor(model => item.SalaryPerHour) VND/ giờ</strong>
                @if (TempData["role"] != null && TempData["status"] != null)
                {
                    @*@if ((int)TempData["role"] == 1 && (int)TempData["status"] == 1)
                    {
                        <div class="card-body">
                            @Html.ActionLink("Liên hệ", "Chat", new { id = item.UserId }, new { @class = "btn btn-success btn-block" })

                        </div>
                    }*@

                    @if ((int)TempData["role"] == 1 && (int)TempData["status"] == 1)
                    {
                        <div class="card-body row">
                            <label class="col-12">Liên hệ: </label>
                            <label class="col-12">Số điện thoại: @Html.DisplayFor(model => item.Phone)</label>
                            <label class="col-12">Email: @Html.DisplayFor(model => item.Email)</label>
                        </div>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                            feedback
                        </button>}

                }

            </div>
            </div>



            <form action="~/Home/Feedback" method="get">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rate</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="myField" id="myField" value="">
                                <span class="my-rating-2"></span>
                                <span name="rate" id="live-rating" class="live-rating"></span>
                                <hr>
                                <h4>Feedback</h4>
                                <textarea id="feedback" name="feedback"
                                          type="text"
                                          class="form-control"
                                          placeholder="Your message"
                                          rows="3"></textarea>
                            </div>
                            <input name="babysitterId" value="@item.UserId" hidden>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            @*Kinh nghiem*@
            <div class="kinhnghiem">
                <h3>Kinh nghiệm</h3>
                @if (item.YearsOfExperience < 1)
                {
                    <p>Dưới một năm</p>
                }
                else
                {
                    <p>@Html.DisplayFor(model => item.YearsOfExperience) năm</p>
                }
            </div>
        }
        <br />

        @*Skill*@
        <div class="skill">
            <h3>Kỹ năng</h3>
            <div class="skills row col-md-8">
                @foreach (var skill in Model.skills.Where(x => x.SkillId >= 6 && x.SkillId <= 12))
                {
                <div class="col-sm-3 py-2 text-center">
                    <div class="card card-body h-100" style="width:100%;">
                        @skill.SkillName
                    </div>
                </div>
                }

            </div>
        </div>

        @*Co kinh nghiem voi*@
        <h3>Có kinh nghiệm với</h3>
        <div class="experience-with row">
            @foreach (var skill in Model.skills.Where(x => x.SkillId >= 1 && x.SkillId <= 5))
            {
                <div class="col-sm-2 py-2 text-center">
                    <div class="card card-body h-100" style="width:100%;">
                        @skill.SkillName
                    </div>
                </div>
            }
        </div>

        <br />
        @*Time table*@
        <div class="time-shift">
            <h3>Thời gian làm việc</h3>
            <label>Thời gian làm việc</label>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-schedule">
                    <thead>
                    <th class="empty"></th>
                    <th>Thứ Hai</th>
                    <th>Thứ Ba</th>
                    <th>Thứ Tư</th>
                    <th>Thứ Năm</th>
                    <th>Thứ Sáu</th>
                    <th>Thứ Bảy</th>
                    <th>Chủ Nhật</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="time">Sáng</td>
                            @foreach (var itemshift in ViewBag.Shift)
                            {
                                if (itemshift.Morning)
                                {
                                    <td><i class="fas fa-check"></i></td>
                                }
                                else
                                {
                                    <td><i class="fas fa-times"></i></td>
                                }

                            }
                        </tr>

                        <tr>
                            <td class="time">Chiều</td>
                            @foreach (var itemshift in ViewBag.Shift)
                            {
                                if (itemshift.Afternoon)
                                {
                                    <td><i class="fas fa-check"></i></td>
                                }
                                else
                                {
                                    <td><i class="fas fa-times"></i></td>
                                }

                            }
                        </tr>

                        <tr>
                            <td class="time">Tối</td>
                            @foreach (var itemshift in ViewBag.Shift)
                            {
                                if (itemshift.Night)
                                {
                                    <td><i class="fas fa-check"></i></td>
                                }
                                else
                                {
                                    <td><i class="fas fa-times"></i></td>
                                }

                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        @*Rate*@
    <div class="rate">
        <h3>Đánh giá</h3>
        @foreach (var item in Model.feedBacks)
        {
           
                ProjectPRNContext db = new ProjectPRNContext();
                var parent = db.Users.Where(c => c.UserId == item.ParentId).FirstOrDefault();
           
            <div class="no-gutters row">
                <div class="col-lg-1">
                    <img style="padding: 20px; height:100px; width:100px;" data-holder-rendered="true" class="card-img rounded-circle" src="~/images/@parent.Avatar">
                </div>
                <div class="star row col-lg-3">

                    <label class="col-md-12" style=" display: flex; align-items: flex-end;">@parent.Name</label>
                    <label class="col-md-12"><span class="rate-total" data-rating="@item.Rate" id="starrate"></span></label>
                </div>
                <div class="row col-lg-3" style=" display: flex; align-items: flex-end;">
                    <div class="date-time col-md-12">@item.DateComment</div>
                    <div class="date-time1 col-md-12"></div>
                </div>
                <div class="col-lg-12">
                    <p>@item.Comment</p>
                </div>
            </div>
        }

    </div>
    </div>
    }
</section>

<script>
    $(function () {
        $(".rate-total").starRating({
            totalStars: 5,
            starSize: 20,
            activeColor: 'rgb(242, 208, 73)',
            useGradient: false,
            readOnly: true
        });
    });
    $(".my-rating-2").starRating({
        disableAfterRate: false,
        totalStars: 5,
        useFullStars: true,
        activeColor: 'rgb(242, 208, 73)',
        useGradient: false,
        callback: function (currentRating, $el) {
            document.getElementById("myField").value = currentRating;
        }
    });
</script>


