@model BabySit.Database_Access.Babysitter
@{
    ViewData["Title"] = "Tài khoản";
}
<link rel="stylesheet" href="~/css/EditProfile.css" />
<section class="page-content" style="padding-top: 5em;">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="margin:auto;">

                @foreach (var item in Model.users)
                {
                    <!-- Profile Form -->
                    <form asp-action="ImportImage" asp-controller="ChangeInfor" method="post" id="submit-edit" class="profile-manager-form" enctype="multipart/form-data">
                        <!--Avatar-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-img">
                                    <img style="padding: 20px; height: 200px; width: 200px;" id="image" data-holder-rendered="true" class="card-img rounded-circle" src="~/images/@item.Avatar">
                                </div>
                            </div>
                            <div class="col-md-5 form-control" style="margin:auto;">
                                <fieldset class="fieldset-company_logo">
                                    <label asp-for="Avatar" class="control-label"></label>
                                    <input id="avatar" asp-for="Avatar" class="form-label">
                                    <span asp-validation-for="Avatar" class="text-danger"></span>
                                    <input type="submit" name="save_avatar" class="btn btn-success" value="Lưu" />
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    <script>
                        document.getElementById("avatar").onchange = function () {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                // get loaded data and render thumbnail.
                                document.getElementById("image").src = e.target.result;
                            };

                            // read the image file as a data URL.
                            reader.readAsDataURL(this.files[0]);
                        };
                    </script>
                    <form action="~/ChangeInfor/ChangePassword" method="post">
                        @*<p>@ViewBag.test</p>*@
                        <h4>Change password</h4>
                        <table>
                            <tr>
                                <td>Old Pass</td>
                                <td><input type="password" name="oldpassword" /></td>
                            </tr>
                            <tr>
                                <td>New Pass</td>
                                <td><input type="password" name="newpassword" /></td>
                            </tr>
                            <tr>
                                <td>Re new pass</td>
                                <td><input type="password" name="renewpassword" /></td>
                            </tr>
                        </table>
                        @if (TempData["messPass"] != null)
                        {
                            <p>@TempData["messPass"] </p>
                        }
                        <input type="submit" name="save_pass" class="btn btn-success" value="Lưu" />
                    </form>
                    <br />
                    <h2>Chi tiết về bản thân</h2>

                    <form action="~/ChangeInfor/ChangeInformation" method="post">
                        <!--Name and Gender-->
                        <div class="row">
                            <div class="col-md-8">
                                <fieldset class="fieldset-fullname">
                                    <label>Họ và tên</label>
                                    <div class="field">
                                        <input type="text" class="form-control" name="fullname" id="fullname" value="@Html.DisplayFor(model => item.Name)" />
                                    </div>
                                </fieldset>
                            </div>

                            <!--Gender-->
                            <div class="col-md-4">
                                <fieldset class="fieldset-gender">
                                    <label for="job_category">Giới tính</label>
                                    @{
                                        var gender = item.Gender.Value ? "Nam" : "Nữ";
                                    }

                                    <div class="field select-style">
                                        <select name="gender" id="gender" class="form-control" value="">
                                            <option value="@item.Gender.Value">@gender</option>
                                            @{
                                                if (item.Gender.Value)
                                                {
                                                    <option value="false">Nữ</option>
                                                }
                                                else
                                                {
                                                    <option value="true">Nam</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <br />
                        <!--Birthdate-->
                        <div class="row">
                            <label for="job_category" class="col-md-3">Ngày sinh</label>
                            @Html.TextBox("txtDate", item.BirthOfDate, "{0:yyyy-MM-dd}", new { type = "date" })
                        </div>
                        <br />
                        <!--Address-->
                        <label>Địa chỉ mới</label>
                        <select name="address" title="Chọn khu vực" id="selectKhuVuc" class="selectpicker" data-style="btn-success" data-width="150px" data-size="10">
                            
                            <option selected="selected" value=" @item.Province.ProvinceId">@Html.DisplayFor(model => item.Province.ProvinceName)</option>
                            @foreach (var itemm in ViewBag.locations)
                            {
                                <option value="@itemm.ProvinceId" style="font-size:18px;">@itemm.ProvinceName</option>
                            }

                        </select>
                        <br />
                        <!--Description-->
                        <fieldset class="fieldset-job_description">
                            <label>Mô tả bản thân</label>
                            <div class="field">
                                <textarea name="description" cols="30" rows="8" class="form-control">@Html.DisplayFor(model => item.Description)</textarea>
                            </div>
                        </fieldset>
                        <br />

                        <!--Lương-->
                        <fieldset>
                            <label>Lương(Theo giờ)</label>
                            <div class="field">
                                <input type="number" min="10000" placeholder="VND/Giờ" class="form-control" name="salary" id="salary" value="@Html.DisplayFor(model => item.SalaryPerHour)" />
                            </div>
                        </fieldset>
                        <br />
                        <!-- experience -->
                        <fieldset class="fieldset-experience">
                            <label for="salary">Kinh nghiệm</label>
                            <div class="field select-style">
                                <select name="experienceYear" id="experience" class="form-control" value="">
                                    <option value="@item.YearsOfExperience">@Html.DisplayFor(model => item.YearsOfExperience) năm</option>
                                    <option value="0"> dưới 1 năm</option>
                                    <option value="1">1 năm</option>
                                    <option value="2">2 năm</option>
                                    <option value="3">3 năm</option>
                                    <option value="4">4 năm</option>
                                    <option value="5">5 năm</option>
                                    <option value="6">6 năm</option>
                                    <option value="7">7 năm</option>
                                    <option value="8">8 năm</option>
                                    <option value="9">9 năm</option>
                                    <option value="10">10 năm</option>
                                    <option value="11">11 năm</option>
                                </select>
                            </div>
                        </fieldset>
                        <br />
                        <input type="submit" value="Submit" />
                    </form>

                }
                <!--Co kha nang trong-->

                <form action="~/ChangeInfor/ChangeSkill" method="post">
                    <!-- Person Availability -->

                    <h2>Phần dành riêng cho bảo mẫu</h2>
                    <label>Thời gian làm việc</label>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-schedule">
                            <thead>
                            <th class="empty"></th>
                            <th>Thứ Hai</th>
                            <th>Thứ Ba</th>
                            <th>Thứ Tư</th>
                            <th>Thứ Năm</th>
                            <th>Thứ Sáu</th>
                            <th>Thứ Bảy</th>
                            <th>Chủ Nhật</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="time">Sáng</td>
                                    @{ int count = 20;}
                                    @foreach (var itemshift in ViewBag.Shift)
                                    {
                                        count++;
                                        if (itemshift.Morning)
                                        {

                                            <td>
                                                <div class="check-container">
                                                    <input type="checkbox" checked id="@count">
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="check-container">
                                                    <input type="checkbox" id="@count">
                                                </div>
                                            </td>
                                        }

                                    }
                                </tr>

                                <tr>
                                    <td class="time">Chiều</td>
                                    @foreach (var itemshift in ViewBag.Shift)
                                    {
                                        count++;
                                        if (itemshift.Afternoon)
                                        {
                                            <td>
                                                <div class="check-container">
                                                    <input type="checkbox" checked id="@count">
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="check-container">
                                                    <input type="checkbox" id="@count">
                                                </div>
                                            </td>
                                        }

                                    }
                                </tr>

                                <tr>
                                    <td class="time">Tối</td>
                                    @foreach (var itemshift in ViewBag.Shift)
                                    {
                                        count++;
                                        if (itemshift.Night)
                                        {
                                            <td>
                                                <div class="check-container">
                                                    <input type="checkbox" checked id="@count">
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="check-container">
                                                    <input type="checkbox" id="@count">
                                                </div>
                                            </td>
                                        }

                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Person Availability / End -->
                    <br />                               <input type="text" name="shift" value="" id="shift" hidden />
                    <fieldset>
                        <label>Có khả năng trông</label> <input type="text" name="skillinlife" value="" id="skillTrongTre" hidden>
                        <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" data-toggle="buttons">
                            @foreach (var skill in ViewBag.Skill)
                            {
                                if (skill.CheckSkillId)
                                {
                                    <div style="padding-right:0.5em;">
                                        <label class="btn btn-outline-success active">
                                            <input type="checkbox" id="@skill.SkillId" checked autocomplete="off" value="@skill.SkillId" style="display:none;"> @skill.SkillName
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div style="padding-right:0.5em;">
                                        <label class="btn btn-outline-success">
                                            <input type="checkbox" id="@skill.SkillId" autocomplete="off" value="@skill.SkillId" style="display:none;"> @skill.SkillName
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                    </fieldset>
                    <br />
                    <!--Skills-->
                    <fieldset>
                        <label>Kỹ năng</label>
                        <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" data-toggle="buttons">
                            @foreach (var skill in ViewBag.CheckSkills)
                            {
                                if (skill.CheckSkillId)
                                {
                                    <div style="padding-right:0.5em;">
                                        <label class="btn btn-outline-success active">
                                            <input type="checkbox" id="@skill.SkillId" checked autocomplete="off" value="@skill.SkillId" style="display:none;"> @skill.SkillName
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div style="padding-right:0.5em;">
                                        <label class="btn btn-outline-success">
                                            <input type="checkbox" id="@skill.SkillId" autocomplete="off" value="@skill.SkillId" style="display:none;"> @skill.SkillName
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                    </fieldset>
                    <br />

                    <input type="submit" name="save_profile" onclick="myFunc()" class="btn btn-success" value="Lưu" />

                </form>

                <!-- Profile Form / End -->
            </div>
        </div>

    </div>
    <script>
        function myFunc() {
            for (var i = 1; i <= 12; i++) {
                if (document.getElementById(i).checked) {
                    console.log(i);
                    document.getElementById("skillTrongTre").value += i + " ";
                }
            }
            for (var i = 21; i < 42; i++) {
                if (document.getElementById(i).checked) {
                    console.log(i);
                    document.getElementById("shift").value += 1;
                } else {
                    document.getElementById("shift").value += 0;
                }
            }
        }
    </script>
</section>
