@{
    ViewData["Title"] = "Trang chủ";
}
@model BabySit.Database_Access.Babysitter
<link rel="stylesheet" href="~/css/HomePage.css">
<style>
    .multiselect {
        width: 150px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>

<div style="margin-top: 200px;">
    <div class="sidenav dropdown" style="padding-top: 5em;">
        @{
            ProjectPRNContext db = new ProjectPRNContext();
            var province = db.Locations.ToList();
        }
        @using (Html.BeginForm("HomePage", "Home", FormMethod.Post))
        {
        <div class="khuvuc" style="padding: 1em; margin: auto;">
            <label>Khu vực</label>
         <select name="selectKhuVuc" title="Chọn khu vực" id="selectKhuVuc" class="selectpicker" data-style="btn-success" data-width="150px" data-size="10">
            <option value="100" style="font-size:18px;" selected>&#60; Tất cả </option>
            @foreach (var itemm in province)
            {
         <option value="@itemm.ProvinceId" style="font-size:18px;">@itemm.ProvinceName</option>
            }
        </select>
        </div>
            
            <div class="kinhnghiem" style="padding: 1em; margin: auto;">
                <label>Kinh nghiệm</label>
                <select  name="selectKinhNghiem" title="Yêu cầu kinh nghiệm" id="selectKinhNghiem" class="selectpicker" data-style="btn-success" data-width="150px">
                    <option value="0" style="font-size:18px;" selected> Tất cả </option>
                    <option value="1" style="font-size:18px;">&#62;&#61; 1 năm</option>
                    <option value="2" style="font-size:18px;">&#62;&#61; 2 năm</option>
                    <option value="3" style="font-size:18px;">&#62;&#61; 3 năm</option>
                    <option value="5" style="font-size:18px;">&#62;&#61; 5 năm</option>
                    <option value="10" style="font-size:18px;">&#62;&#61; 10 năm</option>
                </select>
            </div>

           
            <div class="thoigian" style="padding: 1em; margin: auto;">
                <label>Thời gian làm việc</label>
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select name="selectThoiGian" title="Chọn thời gian" id="selectThoiGian" class="selectpicker" data-style="btn-success" data-width="150px">
                            <option name="selectTime" value="4" selected>Select an option</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        <label for="one">
                            <input name="selectTime" value="1" type="checkbox" id="one" />Sáng
                        </label>
                        <label for="two">
                            <input name="selectTime" value="2" type="checkbox" id="two" />Chiều
                        </label>
                        <label for="three">
                            <input name="selectTime" value="3" type="checkbox" id="three" />Tối

                        </label>
                    </div>
                </div>
            </div>
           
            <div class="mucluong" style="padding: 1em; margin: auto;">
                <label>Mức lương yêu cầu</label>
                <select  name="selectMucLuong" title="Chọn mức lương" id="selectMucLuong" class="selectpicker" data-style="btn-success" data-width="150px" data-size="6">
                    <option value="1000000" style="font-size:18px;" selected>Tất cả </option>
                    <option value="20000" style="font-size:18px;">&#60; 20000 vnd/h</option>
                    <option value="30000" style="font-size:18px;">&#60; 30000 vnd/h</option>
                    <option value="40000" style="font-size:18px;">&#60; 40000 vnd/h</option>
                    <option value="50000" style="font-size:18px;">&#60; 50000 vnd/h</option>
                    <option value="60000" style="font-size:18px;">&#60; 60000 vnd/h</option>
                    <option value="70000" style="font-size:18px;">&#60; 70000 vnd/h</option>
                    <option value="80000" style="font-size:18px;">&#60; 80000 vnd/h</option>
                    <option value="90000" style="font-size:18px;">&#60; 90000 vnd/h</option>
                    <option value="100000" style="font-size:18px;">&#60; 100000 vnd/h</option>
                </select>
            </div>

            <div style="padding: 2em; margin: auto;">
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
            </div>
        }

    </div>
    
    <div class="row" style="margin-left: 300px;">
        <div class="card search col-md-9" style=" padding: 0;">
            <div class="box">
                <form asp-controller="Home" asp-action="Search" method="get">
                    <div class="container-1" style=" height: 80px; display: flex; align-content: center;">
                        <input type="search" id="search" name="searching" value="@ViewBag.search" placeholder="Tìm kiếm..." />
                        <button class="icon" type="submit" style="padding:2px;"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="margin-left: 320px; padding-top:20px;">
        @*Babysitter 1*@
        @foreach (var item in Model.users)
        {

            <div class="card babysitter row col-md-9" style="margin-top:20px;">
                <a href="~/Home/Babysitter/@item.UserId" style="text-decoration:none;">
                    <div class="no-gutters row">
                        <div class="col-lg-3">
                            <img style="padding: 20px; height:150px; width:150px;" data-holder-rendered="true" class="card-img rounded-circle" src="~/images/@item.Avatar">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <div class="info-1 row">
                                    <h3 class="card-title col-md-12">@item.Name</h3>
                                    <p class="col-md-6">Nơi làm việc: @item.Province.ProvinceName</p>
                                    @{
                                        var age = DateTime.UtcNow.Year - Int32.Parse(item.BirthOfDate.Value.ToString("yyyy"));
                                        <p class="col-md-6">@Html.DisplayFor(model => age) tuổi</p>
                                    }
                                    <p class="col-md-6">Đánh giá</p>

                                    @if (item.YearsOfExperience < 1)
                                    {
                                        <p class="col-md-6">Dưới một năm</p>
                                    }
                                    else
                                    {
                                        <p class="col-md-6">Kinh nghiệm: @item.YearsOfExperience năm</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

        @*End Babysitter 1*@
    </div>
    <script>
        var expanded = false;

        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }
    </script>
</div>
