@{
    ViewData["Title"] = "Đăng nhập";
}
@model BabySit.Models.User
<div class="d-flex align-items-center" style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">
        <div class="card navbar-shadow">
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <h4 class="card-title text-center">Đăng nhập</h4>
                        @Html.LabelFor(model => model.Email)
                        <div class="input-group input-group-merge">
                            @Html.TextBoxFor(model => model.Email, new { @id = "email", @class = "form-control form-control-prepended" })
                        </div>
                        @Html.ValidationMessageFor(mess => mess.Email, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        <div class="input-group input-group-merge">

                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(mess => mess.Password, null, new { @class = "text-danger" })
                    </div>
                    if (@ViewBag.Message != null)
                    {
                        <label class="text-danger">@ViewBag.Message</label>

                    }
                    <div class="form-group ">
                        <input type="submit" class="btn btn-success btn-block" value="Đăng nhập">
                    </div>
                }
                <div class="text-center">
                    <a asp-controller="Home" asp-action="ForgotPass" class="text-black-70" style="text-decoration: underline;">Quên mật khẩu?</a>
                </div>
                <div class="card-footer text-center text-black-50">
                    Chưa có tài khoản? <a asp-controller="Home" asp-action="Register">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
</div>
