@*<p>@ViewBag.fullname </p>
    <p>@ViewBag.gender </p>
    <p>@ViewBag.txtDate </p>
    <p>@ViewBag.address </p>
    <p> @ViewBag.textarea </p>
    <p>@ViewBag.fullname </p>
    <p>@ViewBag.gender </p>
    <p>User id = @ViewBag.userid</p>*@

<p>Hello các cháu, bà là Thủy</p>
<p>Một cái j đấy đang ngăn cản t xem</p>
<p>Đang rất bực mình</p>
@*<p>@ViewBag.dbpass</p>
<p>@ViewBag.oldpass</p>
<p>@ViewBag.newpass </p>
<p>@ViewBag.renewpass</p>
<p>@ViewBag.messPass</p>*@
<p>Chuyển ngành hay ko chuyển </p>
<p>@ViewBag.SkillInLife</p>




