@*<p>@ViewBag.fullname </p>
<p>@ViewBag.gender </p>
<p>@ViewBag.txtDate </p>
<p>@ViewBag.address </p>
<p> @ViewBag.textarea </p>
<p>@ViewBag.fullname </p>
<p>@ViewBag.gender </p>
<p>User id = @ViewBag.userid</p>*@

<p>@oldpassword</p>
<p>
    @ViewBag.newpass </p>
<p>
    @ViewBag.renewpass
</p>
   


