@{
    ViewData["Title"] = "Đăng ký";
}
@model BabySit.Database_Access.UserRegister

<div class="d-flex align-items-center"
     style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto"
         style="min-width: 300px; padding-top: 5em;">

        <div class="card navbar-shadow">

            <!--Body-->
            <div class="card-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    <h4 class="card-title text-center">Đăng ký</h4>
                    <!--Name-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.user.Name)
                        <div class="input-group input-group-merge">
                            @Html.TextBoxFor(model => model.user.Name, new
                            { @id = "name", @class = "form-control form-control-prepended" })
                        </div>
                        @Html.ValidationMessageFor(mess => mess.user.Name, null, new { @class = "text-danger" })
                    </div>

                    <!--Email-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.user.Email)
                        <div class="input-group input-group-merge">
                            @Html.TextBoxFor(model => model.user.Email, new
                            { @id = "email", @class = "form-control form-control-prepended" })
                        </div>
                        @Html.ValidationMessageFor(mess => mess.user.Email, null, new { @class = "text-danger" })
                    </div>

                    <!--Password-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.user.Password)
                        <div class="input-group input-group-merge">
                            @Html.EditorFor(model => model.user.Password, new
                            { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(mess => mess.user.Password, null, new { @class = "text-danger" })
                    </div>

                    <!--Confirm-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.confirmPassword)
                        <div class="input-group input-group-merge">
                            @Html.EditorFor(model => model.confirmPassword, new
                            { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(mess => mess.confirmPassword, null, new { @class = "text-danger" })
                    </div>

                    <!--Checkbox-->
                    <div class="form-group">
                        <label class="form-label"
                               for="password2">Bạn là:</label>
                        <div class="radio-register row">
                            <div class="radio-parent col-md-6">
                                @Html.RadioButton("User.Role", "1", true)
                                <label>Phụ huynh</label>
                            </div>
                            <div class="radio-babysitter col-md-6">
                                @Html.RadioButton("User.Role", "2")
                                <label>Bảo mẫu</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"
                               for="password2">Bạn là:</label>
                        <div class="radio-register row">
                            <div class="radio-parent col-md-6">
                                @Html.RadioButton("User.Gender", "true", true)
                                <label>Phụ huynh</label>
                            </div>
                            <div class="radio-babysitter col-md-6">
                                @Html.RadioButton("User.Gender", "false")
                                <label>Bảo mẫu</label>
                            </div>
                        </div>
                    </div>

                    <br />
                    <!--Submit-->
                    <div class="form-group text-center mb-0">
                        <div class="custom-control custom-checkbox">
                            <input id="terms"
                                   type="checkbox"
                                   class="custom-control-input"
                                   checked
                                   required value="submit" onclick="if(!this.form.checkbox.checked){alert('Bạn phải đồng ý với các điều khoản trước.');return false}">
                            <label for="terms"
                                   class="custom-control-label text-black-70">Bạn cần đồng ý với <a href="#">điều khoản về dịch vụ</a> của chúng tôi để tiếp tục</label>
                        </div>
                    </div>
                    <br />
                    <button type="submit"
                            class="btn btn-success btn-block mb-3">
                        Đăng ký
                    </button>
                    <label style="color:red;" class="label-danger">@ViewBag.DuplicateMessage</label>
                    <label style="color:red;">@ViewBag.EmailExistMessage</label>
                    <label style="color:red;">@ViewBag.PasswordDoNotMatchMessage</label>
                    <label style="color:red;">@ViewBag.InvalidMessage</label>
                    <label style="color:red;">@ViewBag.ErrorSendEmailMessage</label>
                }
            </div>
            <div class="card-footer text-center text-black-50">Đã có tài khoản? <a asp-controller="Account" asp-action="Login">Đăng nhập</a></div>
        </div>
    </div>
</div>
